@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.lg-block{
    width: 300px;
    height: 400px;
    a:hover{
        text-decoration: underline;     
    }
}        